# log files #
#############
*.log

# properties file                         #
# just the config properties file for now #
###########################################
config.properties

# build folder #
################
/target/
